# This is a basic workflow to help you get started with Actions

name: Test-Suite

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  linux_build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: env-setup
        run: |
            sudo apt-get update
            sudo apt-get install unzip tar
            wget https://github.com/llvm/llvm-project/releases/download/llvmorg-13.0.0/clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-16.04.tar.xz
            mkdir -p "/opt/llvm" && tar -xf clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-16.04.tar.xz -C "/opt/llvm" --strip-components 1
            echo "/opt/llvm/bin" >> $GITHUB_PATH

      - name: stash-changes
        run: |
            git stash --all
            echo $(pwd)

      # Runs a set of commands using the runners shell
      - name: generate-bcs
        run: |
           echo $(pwd)
           git status
           git pull
           bash ./generate_bc.sh
           git clone https://github.com/mbarbar/crux-bitcode
           cd crux-bitcode
           rm pkgs.txt
           echo -e "bc\nhtop\nvim\ncurl\nbash\nbzip2\nunrar\ntmux" >> pkgs.txt
           bash ./build-bitcode.sh
           unzip -j -o \*.zip -d $GITHUB_WORKSPACE/test_cases_bc/crux-bc/
           rm $GITHUB_WORKSPACE/test_cases_bc/crux-bc/info.txt
           cd ..

      - name: commit-and-push
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@users.noreply.github.com'
          git status
          git add .
          git commit -am "update bc files" || true
          git push

  mac_build:
    needs: linux_build
    runs-on: macos-11
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: stash-changes
        run: |
          git stash --all
          echo $(pwd)

      - name: generate-bcs
        run: |
          echo $(pwd)
          git status
          bash ./generate_bc.sh

      - name: commit-and-push
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@users.noreply.github.com'
          git status
          git pull
          git add .
          git commit -am "update bc files" || true
          git push
